# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local
build/

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.metadata/
.project
.settings/
.classpath
.factorypath

# Database & Logs
*.db
*.log
log.txt
