fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
youtube-comment-downloader
langchain-huggingface
langchain-experimental
pymysql
sqlalchemy
langchain-community
langchain-text-splitters
ollama
langchain-groq